<div class="all-games">
  <div class="header-all">
    <h2>All Games</h2>
    <form action="/search" method="GET" class="search">
      <input
        type="text"
        id="search-input"
        name="search"
        placeholder="Search by name"
      />
      <button id="search-button" type="submit">Search</button>
    </form>
  </div>

  <div class="game-cards">
    <% data.games.forEach(game => { %>
    <div class="game-card">
      <div class="game-card-image">
        <img src="<%= game.imageurl %>" alt="<%= game.name %>" />
      </div>
      <div class="game-card-content">
        <h2><%= game.name %></h2>
        <p><%= game.developer %></p>
      </div>
    </div>
    <% }) %>
  </div>
</div>
