<div>
  <h2><%= data.category%></h2>
  <div class="categories">
    <% data.categories.forEach(genre => { %>
    <div class="category">
      <h3><%= genre.name %></h3>
      <% if (data.category === "Developers") { %>
      <a href="/categories/developer?id=<%= genre.id %>">View</a>
      <% } else if (data.category === "Genres") { %>
      <a href="/categories/genre?id=<%= genre.id %>">View</a>
      <% } %>
    </div>
    <% }) %>
  </div>
</div>
