<div class="sidebar">
  <h2>GamesDB</h2>
  <nav class="navbar">
    <a class="navbar-brand" href="/">Home</a>

    <div class="extended">
      <div class="navbar-brand" href="/categories">Categories</div>
      <ul>
        <li><a href="/categories/genres">Genre</a></li>
        <li><a href="/categories/developers">Developers</a></li>
        <li><a href="/categories/all">All Games</a></li>
      </ul>
    </div>

    <div class="extended">
      <div class="navbar-brand" href="/new">Add New</div>
      <ul>
        <li><a href="/new/game">Game</a></li>
        <li><a href="/new/category">Genre</a></li>
        <li><a href="/new/developer">Developer</a></li>
      </ul>
    </div>
  </nav>
</div>
