@import url("https://fonts.googleapis.com/css?family=Inter:700|Inter:400");

:root {
  --text: #091b1b;
  --text-white: #e4f6f6;
  --background: #fafdfd;
  --primary: #44bdc1;
  --secondary: #9ba3de;
  --accent: #756bce;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter";
  font-weight: 400;
}

.content {
  position: relative;
  margin-left: 26vh;
  padding: 2rem;
  height: 100vh;
}

/*Sidebar Styling*/
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  width: 20vh;
  background-color: var(--accent);
  gap: 2rem;
  padding: 3vh;
}
.sidebar > h2 {
  color: var(--text-white);
}
.navbar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navbar-brand {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-white);
}

.extended {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  font-size: 1rem;
  font-weight: 500;
}
.extended a {
  text-decoration: none;
  color: var(--text-white);
}
.extended > ul {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.extended > ul > li {
  list-style: none;
}

/*Game Card styling*/
.game-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0;
  padding: 1rem;
}
.game-card {
  max-width: 20vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20vw;
  background-color: var(--background);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-align: center;
  overflow: hidden;
  margin: 1%;
  padding: 0.5rem;
}
.game-card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.game-card-image {
  border-radius: 1rem;
}
.game-card-image img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 1rem;
}
.game-card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.9rem;
  flex-grow: 1;  /* Ensure the content can grow */
  justify-content: space-between; /* Distribute space between children */
}

.game-card-detail {
  background-color: var(--secondary);
  color: var(--text-white);
  border: none;
  border-radius: 2rem;
  width: auto;
  padding: 1rem;
  display: block;
  margin-top: auto;
  position:static;
  bottom: 0;
}

.game-card-detail:hover {
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}
/*Home Styling*/
.cards {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  width: 20vw;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  align-items: center;
  text-align: center;
  overflow: hidden;
  margin: 1rem;
  color: var(--text-white);
}
.card:nth-child(1) {
  background-color: var(--primary);
}
.card:nth-child(2) {
  background-color: var(--secondary);
}
.card:nth-child(3) {
  background-color: var(--accent);
}
.card > a {
  text-decoration: none;
  color: var(--primary);
  background-color: var(--background);
  padding: 1rem;
  border-radius: 0.5rem;
}
.card > a:hover {
  background-color: var(--text);
  color: var(--text-white);
}

/*Categories styling*/
.categories {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
  background-color: var(--background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.category > a {
  text-decoration: none;
  color: var(--text);
  background-color: var(--background);
  border: solid 0.2rem var(--secondary);
  padding: 1rem;
  border-radius: 0.7rem;
}
.category > a:hover {
  background-color: var(--secondary);
  color: var(--text-white);
}
/*All games styling*/
.header-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
#search-input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--secondary);
  width: 20vw;
}
#search-button {
  text-decoration: none;
  color: var(--text);
  background-color: var(--background);
  border: solid 0.1rem var(--secondary);
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
#search-button:hover {
  background-color: var(--secondary);
  color: var(--text-white);
}
/*New Game Form*/
.newGame {
  padding: 1rem;
  background-color: var(--background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.newGame > h2 {
  color: var(--text);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.newGame > p {
  padding-bottom: 1rem;
}
.newGameForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
}

.new-btn {
  text-decoration: none;
  color: var(--text-white);
  background-color: var(--primary);
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
  width: 20%;
}

input {
  padding: 0.2rem;
  border: none;
  border-radius: 10px;
  background-color: #f3f4f6;
  width: 100%;
  height: 2rem;
  font-size: 0.8rem;
  border: solid 1px var(--primary);
}
.input-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.input-group > label {
  width: 17%;
  text-align: left;
  align-self: center;
}

.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}
.select-dropdown {
  position: relative;
  background-color: #e6e6e6;
  border-radius: 4px;
}
.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.dropdown {
  position: relative;

  display: inline-block;
}

.dropdown-content {
  display: none;

  position: absolute;

  background-color: #f9f9f9;

  min-width: 160px;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  z-index: 1;
}

input[type="checkbox"] {
  -ms-transform: scale(0.6); /* IE */
  -moz-transform: scale(0.6); /* FF */
  -webkit-transform: scale(0.6); /* Safari and Chrome */
  -o-transform: scale(0.6); /* Opera */
  transform: scale(0.6);
  padding: 10px;
}

.dropdown-content label {
  display: block;
  font-size: 1rem;
  margin-top: 10px;
}

.dropdown:hover .dropdown-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.dropdown > button {
  background-color: var(--background);
  color: var(--text);
  border: solid 1px var(--primary);
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
/*Detail page*/
.game-detail{
  display: flex;
  flex-direction: row;
  padding: 2rem;
  background-color: var(--background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  
}
.detail-img{
  width: 30%;
  height: 30%;
}
.detail-img>img{
  width:70%;
}
.detail-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--background);
  transition: all 0.3s ease;
  width: 70%;
}
.detail-genre{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--background);
  transition: all 0.3s ease;
}
.detail-genre>div{
  border: var(--secondary) 2px solid;
  color: var(--text);
  background-color: var(--background);
  border-radius: 2rem;
  padding: 1rem;
  display: block;

}